{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <link rel="preload" href="https://www.adp.com/static/project/adp/fonts/TaubSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://www.adp.com/static/project/adp/fonts/TaubSans-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://www.adp.com/static/project/adp/fonts/TaubSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://www.adp.com/static/project/adp/fonts/TaubSans-RegularItalic.woff2" as="font" type="font/woff2" crossorigin>
{% endblock %}
